<ul class="flex-row no-style-list">
    <li><a id="docs-page-nav-kipper-version" href="<%= thisVersionIndex %>"><%= docsVersion %>  /</a></li>
    <!-- <%= thisNavTreeItem %> <%= thisNavTreeItem?.parent %> <%= thisNavTreeItem?.path %> -->

    <% if (!isHiddenFile) { %>
        <%# Getting a list that starts with the root item and ends with the current file %>
        <% const pathItems = []; %>
        <% let curr = thisNavTreeItem; %>
        <% while (curr !== undefined) { pathItems.unshift(curr); curr = curr.parent } %>

        <!-- The detailed path to this docs page, which is represented using the title of every parent -->
        <% for (const pathItem of pathItems) { %>
            <% let lastItem = pathItem === pathItems[pathItems.length - 1]; %>
            <li>
                <% if (!lastItem) { %>
                    <!-- If it's not the last item, it's a dir parent, as such we need to link the index file -->
                    <a class="docs-page-nav-header" href="<%= `${rootDir}${pathItem.path}/index.html` %>">
                        <%= pathItem.dropdownTitle || pathItem.title %>
                    </a>
                    <%= " /" %>
                <% } else { %>
                    <a class="docs-page-nav-header" href="<%= `${rootDir}${pathItem.path}` %>">
                        <%= pathItem.title || "Index" %>
                    </a>
                <% }%>
            </li>
        <% } %>
    <% } else { %>
        <li><a class="docs-page-nav-header" href="<%= thisFile %>">Hidden Page</a></li>
    <% }%>
</ul>
