<% sidebarNav.items.forEach((fileOrDir) => { %>
    <% const getParentList = (item) => {
        return item && "parent" in item && item.parent ? [item.parent, ...getParentList(item.parent)] : [];
    } %>
    <% const parentNavDirsOfProcessFile = getParentList(thisNavTreeItem); /* Parents of entire process file */ %>
    <% const parentNavDirsOfIterFile = getParentList(fileOrDir); /* Parents of the currently iterating file */ %>

    <% const isDir = "items" in fileOrDir; %>
    <% if (!isDir) { %>
        <%#
        The current file is selected if all the parents match with the current item being iterated over and they
        have the same filename.
        %>
        <!-- <%= parentNavDirsOfProcessFile.map(e => e.filename).join(", ") %> -->
        <!-- <%= parentNavDirsOfIterFile.map(e => e.filename).join(", ") %> -->
        <% const iterFileIsSelected = parentNavDirsOfIterFile.length === parentNavDirsOfProcessFile.length
        && parentNavDirsOfProcessFile.every((e, i) => {
            return e &&
                "path" in e &&
                parentNavDirsOfIterFile[i] !== undefined &&
                e.path === parentNavDirsOfIterFile[i].path
            }
        ) && (fileOrDir.filename === filename);
        %>
        <li>
            <p class="sidebar-nav-header-list-item <%= iterFileIsSelected ? "selected-page-sidebar-nav-header" : "" %>">
                <%# The file path is an absolute format, like for example: '/.../.../*.html' %>
                <a href="<%= rootDir %><%= fileOrDir.path %>"><%= fileOrDir.title %></a>
            </p>
        </li>
    <% } else { %>
        <li>
            <%# Get all the parents of the current docs file and see if the currently rendering dropdowns need to be %>
            <%# visible or not. Note that the current docs file means the file of the render invocation, as this is %>
            <%# still only the naviagation bar and not the actual documentation page shown the user. %>
            <% const selectedFileInDir = parentNavDirsOfProcessFile.find(e => e === fileOrDir); %>

            <p class="
                sidebar-nav-header-list-item
                <%= selectedFileInDir || fileOrDir.path === filename ? "selected-page-sidebar-nav-header" : "" %>
                sidebar-nav-header-dir-item
            ">
                <button>
                    <i class="fa-solid fa-xs fa-caret-down"></i><span><%= fileOrDir.dropdownTitle || fileOrDir.title %></span>
                </button>
            </p>
            <ul class="
                docs-sidebar-nav-list
                no-style-list
                flex-column
                <%= selectedFileInDir ? "selected-sidebar-nav-dir" : "" %>
            ">
                <%- include('./nav-list', {
                    sidebarNav: fileOrDir,
                    header: false,
                    title: title,
                    description: description,
                    thisFile: thisFile,
                    docsRoot: docsRoot,
                    inRootDir: false,
                }) %>
            </ul>
        </li>
    <% } %>
<% }); %>
