<nav id="docs-sidebar-nav">
    <div id="docs-sidebar-nav-head">
        <h6><a class="docs-page-nav-header" href="./index.html">Kipper Docs</a></h6>
        <div id="docs-version-selection">
            <div id="docs-version-selector-root-button-wrapper">
                <button>
                <span class="h6">
                    <span><%= `${docsVersion}` %></span>
                    <i class="fa-solid fa-xs fa-caret-down"></i>
                </span>
                </button>
            </div>
            <ul id="docs-versions-dropdown" class="no-style-list flex-column">
                <% docsVersions.forEach((v) => { %>
                    <li id="docs-version-selector-<%= v %>" class="docs-version-selector-button-wrapper" data-version="<%= v %>">
                        <% let thisVersionEdition = thisFile.replace(`/${docsVersion}`, "").replace(docsRoot, `${docsRoot}/${v}`); %>
                        <% let thisSourceMdFile = path.resolve(
                             `${absoluteSrcRootDir}/${thisVersionEdition.replace(/\.\./g, ".").replace(".html", ".md")}`
                           );
                        %>
                        <!-- <%= `${absoluteSrcRootDir}/${thisVersionEdition.replace(/\.\./g, ".").replace(".html", ".md")}` %> - <%= thisSourceMdFile %> -->
                        <% if (existsSync(thisSourceMdFile)) { %>
                            <a href="<%= thisVersionEdition %>"><%= v %></a>
                        <% } else { %>
                            <a href="<%= `${docsRoot}/${v}/index.html` %>"><%= v %></a>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <ul class="no-style-list flex-column">
        <%- include('./nav-list', {
            sidebarNav: sidebarNav,
            header: false,
            title: title,
            description: description,
            thisFile: thisFile,
            docsRoot: docsRoot,
            inRootDir: false,
        }) %>
    </ul>
</nav>
