<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head', { title: title, description: description }) %>
    <link rel="stylesheet" href="<%= rootDir %>/css/docs.scss" />
</head>
<body>
<script src="<%= rootDir %>/js/plugins.ts"></script>
<script src="<%= rootDir %>/js/markdown.ts"></script>
<script src="<%= rootDir %>/prism/prism.js"></script>
<script defer type="module" src="<%= rootDir %>/js/docs.ts"></script>

<% let docsRoot = `${rootDir}/docs`; %>
<% let thisVersion = `${docsRoot}/${docsVersion}`; %>
<% let thisVersionFile = `${thisVersion}/${filename}`; %>
<% let thisVersionIndex = `${thisVersion}/index.html`; %>
<% let thisFile = `${rootDir}${urlParentDir}/${filename}`; %>

<div id="main-frame">
    <div id="actual-content">
        <!-- The top element: menu and search bar -->
        <%- include('../nav-bar', { header: false, title: title, description: description }) %>

        <!-- Main Content, where the text is located and the items unique to this site are defined -->
        <div class="flex-parent-container flex-fill-to-parent">
            <ul class="no-style-list flex-parent-container flex-row flex-fill-to-parent">
                <li id="docs-sidebar-nav-wrapper" class="flex-parent-container">
                    <%- include('./nav', {
                        sidebarNav: sidebarNav,
                        header: false,
                        title: title,
                        description: description,
                        thisFile: thisFile,
                        docsRoot: docsRoot,
                        existsSync: existsSync,
                        absoluteSrcRootDir: absoluteSrcRootDir,
                    }) %>
                </li>
                <li class="docs-page-content-container">
                    <div id="docs-content" class="shadowed-box">
                        <!-- Content -->
                        <section>
                            <nav id="docs-page-nav">
                                <%- include('./nav-path', {
                                    sidebarNav: sidebarNav,
                                    thisFile: thisFile,
                                    rootDir: rootDir,
                                    thisVersionIndex: thisVersionIndex,
                                    absoluteSrcRootDir: absoluteSrcRootDir,
                                    thisNavTreeItem: thisNavTreeItem,
                                    isIndexFile: isIndexFile,
                                    isHiddenFile: isHiddenFile,
                                }) %>
                                <a
                                    id="edit-page-on-github"
                                    href="<%= editPath %>"
                                    title="Edit this page on GitHub"
                                >
                                    <i class="fa-brands fa-github"></i>
                                    <p>Edit page</p>
                                </a>
                            </nav>
                            <article id="markdown-content">
                                <%- markdownContent %>
                            </article>
                        </section>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Footer bar - contains some links and general copyright notice -->
        <%- include('../footer') %>
    </div>
</div>

<!-- Overlay for displaying search results -->
<%- include('../search-bar-overlay') %>
</body>
</html>
