<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head', { title: title, description: description }) %>
    <link rel="stylesheet" href="../css/docs.scss" />
</head>
<body>
<script src="../js/plugins.ts"></script>
<script src="../prism/prism.js"></script>

<div id="main-frame">
    <div id="actual-content">
        <!-- The top element: menu and search bar -->
        <%- include('./nav-bar', { header: false, title: title, description: description }) %>

        <!-- Main Content, where the text is located and the items unique to this site are defined -->
        <div class="flex-parent-container flex-fill-to-parent">
            <ul class="no-style-list flex-parent-container flex-row flex-fill-to-parent">
                <li id="docs-sidebar-nav-wrapper" class="flex-parent-container"></li>
                <script type="module" src="../js/gen-sidebar-docs-nav.ts"></script>
                <li class="docs-page-content-container">
                    <div id="docs-content" class="shadowed-box">
                        <!-- Content -->
                        <section>
                            <nav id="docs-page-nav">
                                <ul class="flex-row no-style-list">
                                    <li class="gray-text"><a id="docs-page-nav-kipper-origin" href="./index.html">Kipper Docs /</a></li>
                                    <li><a class="docs-page-nav-header" href="<%= `../${filePath}` %>"><%= title %></a></li>
                                </ul>
                            </nav>
                            <article id="markdown-content">
                                <%- markdownContent %>
                            </article>
                        </section>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Footer bar - contains some links and general copyright notice -->
        <%- include('./footer') %>
    </div>
</div>

<!-- Overlay for displaying search results -->
<%- include('./search-bar-overlay') %>
</body>
</html>
