<nav id="docs-sidebar-nav">
    <div id="docs-sidebar-nav-head">
        <h6><a class="docs-page-nav-header" href="./index.html">Kipper Docs</a></h6>
        <div id="docs-version-selection">
            <div id="docs-version-selector-root-button-wrapper">
                <button>
                <span class="h6">
                    <span><%= `${docsVersion}` %></span>
                    <i class="fa-solid fa-xs fa-caret-down"></i>
                </span>
                </button>
            </div>
            <ul id="docs-versions-dropdown" class="no-style-list flex-column">
                <% docsVersions.forEach((v) => { %>
                    <li id="docs-version-selector-<%= v %>" class="docs-version-selector-button-wrapper" data-version="<%= v %>">
                        <a href="<%= thisFile.replace(`/${docsVersion}`, "").replace(docsRoot, `${docsRoot}/${v}`) %>"><%= v %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <ul class="no-style-list flex-column">
        <% sidebarNav.items.forEach((file) => { %>
            <%# The current file is selected if the current filename (where the ejs file is included) matches the name in 'file.path' %>
            <% const pathParts = file.path.split("/"); %>
            <% const isCurrentFile = pathParts[pathParts.length - 1] === filename; %>
            <li>
                <p class="sidebar-nav-header-list-item <%= isCurrentFile ? "selected-page-sidebar-nav-header" : "" %>">
                    <%# The file path is an absolute format, like for example: '/.../.../*.html' %>
                    <a href="<%= rootDir %><%= file.path %>"><%= file.title %></a>
                </p>
            </li>
        <% }); %>
    </ul>
</nav>
