<% let relativePath = isNestedDir ? ".." : "."; %>
<% let titleSuffix = `Kipper ${isDocsFile ? "Docs " : ""}` + `v${version}` %>

<meta charset="utf-8" />
<title><%= (typeof title != "undefined" ? title + " - " : "") + titleSuffix ;%></title>
<meta
        name="description"
        content="<%= typeof description != "undefined" ? description : "The simple, easy-to-use and fast open-source language designed for Browsers, Node.js and Deno." ;%>"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="manifest" href="../<%= relativePath ;%>/site.webmanifest" />
<link rel="apple-touch-icon" href="<%= relativePath ;%>/img/icons/kipper-icon.png" />
<link rel="shortcut icon" type="image/ico" href="../<%= relativePath ;%>/favicon.ico" />

<link rel="stylesheet" href="<%= relativePath ;%>/css/normalize.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/main.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/screen.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/buttons.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/nav-bar.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/text.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/lists.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/footer.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/table.scss" />
<link rel="stylesheet" href="<%= relativePath ;%>/css/markdown.scss" />

<!-- Loading the prism highlighting style-sheet -->
<link rel="stylesheet" href="<%= relativePath ;%>/prism/prism.css" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/951ef1f046.js" crossorigin="anonymous"></script>

<!-- Including stylesheet for the Inter-Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />

<!--
Specifying the preferred environment colour to be the primary scheme colour.
See main.scss for the --scheme-primary variable
-->
<meta name="theme-color" content="#e01a4f" />

<!-- Meta fields -->
<meta property="og:site_name" content="Kipper">
<meta property="og:title" content="<%= (typeof title != "undefined" ? title + " - " : "") + `Kipper v${version}` ;%>">
<meta property="og:description"
      content="<%= typeof description != "undefined" ? description : "The simple, easy-to-use and fast open-source language designed for Browsers, Node.js and Deno." ;%>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= `${websitePublicURL}/${filePath}` ;%>">
<meta property="og:image"
      content="https://raw.githubusercontent.com/Luna-Klatzer/Kipper/main/src/img/icons/kipper-head-icon.png">
<meta property="og:locale" content="en_GB">
