<%# The title suffix, which will use the specified docsVersion if defined (only for documentation files) %>
<!-- isDocsFile: <%= isDocsFile %> -->
<!-- docsVersion: <%= docsVersion %> -->
<!-- latestVersion: <%= latestVersion %> -->
<%
let titleSuffix = `Kipper ${isDocsFile ? "Docs " : ""}`
    + `v${!docsVersion || docsVersion === "latest" ? latestVersion : docsVersion}`
%>

<%# Defining the title %>
<%
// The dropdown title should be prefixed if it exists (for the docs)
let displayTitle = typeof dropdownTitle !== "undefined" ? `${dropdownTitle}/` : ""
    + (typeof title !== "undefined" ? title + " - " : "")
    + titleSuffix;
%>

<meta charset="utf-8" />
<%# Use the custom title if it defined as a prefix %>
<title><%= displayTitle %></title>
<meta
    name="description"
    content="<%= typeof description != "undefined" ? description : "The new customisable and easy to use type-safe language for the web and Node.js! " ;%>"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="manifest" href="../<%= rootDir %>/site.webmanifest" />
<link rel="apple-touch-icon" href="<%= rootDir %>/img/icons/kipper-icon.png" />
<link rel="shortcut icon" type="image/ico" href="../<%= rootDir %>/favicon.ico" />

<link rel="stylesheet" href="<%= rootDir %>/css/normalize.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/main.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/screen.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/buttons.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/nav-bar.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/text.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/lists.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/footer.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/table.scss" />
<link rel="stylesheet" href="<%= rootDir %>/css/markdown.scss" />

<!-- Loading the prism highlighting style-sheet -->
<link rel="stylesheet" href="<%= rootDir %>/prism/prism.css" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/951ef1f046.js" crossorigin="anonymous"></script>

<!-- Including stylesheet for the Inter-Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />

<!--
Specifying the preferred environment colour to be the primary scheme colour.
See main.scss for the --scheme-primary variable
-->
<meta name="theme-color" content="#e01a4f" />

<!-- Meta fields -->
<meta property="og:site_name" content="Kipper">
<meta property="og:title" content="<%= displayTitle %>">
<meta property="og:description"
      content="<%= typeof description != "undefined" ? description : "The new customisable and easy to use type-safe language for the web and Node.js! " ;%>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= `${websitePublicURL}${urlPath}` ;%>">
<meta property="og:image" content="<%= `${rootDir}/img/icons/kipper-head-icon.png` %>">
<meta property="og:locale" content="en_GB">
