<%
const pages = {
    "downloads.html": locale["values"]["nav-bar"]["downloads"],
    "docs/index.html": locale["values"]["nav-bar"]["docs"],
    "playground.html": locale["values"]["nav-bar"]["playground"],
    "changelog.html": locale["values"]["nav-bar"]["changelog"],
};
%>
<header
    id="primary-page-header"
    class="page-header <%= typeof isHomepage !== undefined && isHomepage ? 'homepage' : '' %>"
>
    <nav id="header-nav-bar">
        <ul id="std-header-primary-content">
            <!-- Kipper logo + version identifier -->
            <%- include('./logo-header', { rootDir: rootDir, latestVersion: latestVersion }) %>

            <!-- Main navigation links -->
            <% for (const page in pages) { %>
            <%  const pageName = pages[page]; %>
            <%  const isDocs = page === "docs/index.html"; %>
            <%  const pagePath = `${isDocs ? rootDir : rlc}/${page}` %>
                <li>
                    <a href="<%= pagePath %>"
                       class="underline-button top-nav-menu-item top-nav-button
                       <%= urlPath.endsWith(page) ? "selected-nav-page" : ""; %>
                       "
                    >
                        <h4><%= pageName %></h4>
                    </a>
                </li>
            <% } %>

            <script defer>
              (() => {
                const links = document.querySelectorAll("#std-header-primary-content li .top-nav-menu-item");
                const localeName = localStorage.getItem(window.localeKey);
                for (const link of links) {
                  // Insert locale name into the URL
                  const href = link.getAttribute("href");
                  if (!href.includes(localeName) && !href.includes("docs")) {
                    link.setAttribute("href", `/${localeName}${window.location.pathname}`);
                  }
                }
              })();
            </script>
        </ul>
        <%- include('./search-bar', { searchBarId: "std-search-bar" }) %>
        <%- include('./locales-dropdown', { locale: locale, isDocsFile: isDocsFile }) %>
    </nav>

    <!-- Per default invisible phone nav bar, which is shown on smaller screens -->
    <%- include('./phone-header-nav-bar', { pages: pages, header: false }) %>

    <div id="header-description-content" class="text-page-content-container">
        <%- typeof header !== undefined && header ? include('./header-title-bar') : "" %>
    </div>
</header>
