<% if (!isDocsFile) { %>
    <script defer type="module" src="<%= rootDir %>/js/locale.ts"></script>
    <div id="locales-menu">
        <div id="locale-button-wrapper">
            <img src="<%= rootDir %>/img/icons/globe.svg" alt="Locale globe" />
            <button id="locale-menu-root-button"><%= locale.name %></button>
        </div>
        <ul id="locales-dropdown" class="no-style-list flex-column">
            <% Object.keys(locales).filter(locale => locale !== "default").forEach((localeName) => { %>
                <% const href = `${rootDir}/${localeName}${urlPath.replace(`${locale["name"]}/`, "")}` %>
                <li
                    id="locale-selector-<%= localeName %>"
                    class="locale-selector-button-wrapper"
                    data-locale="<%= localeName %>"
                    data-href="<%= href %>"
                >
                    <button><%= localeName %></button>
                    <a ignore href="<%= href %>"></a>
                </li>
            <% }); %>
        </ul>
    </div>
<% } %>
