<li class="kipper-version-and-logo">
    <a href="<%= rlc %>/index.html" class="no-style-list flex-row flex-parent-container flex-center kipper-logo-container">
        <img class="kipper-logo" src="<%= rootDir %>/img/icons/kipper-base-head.png" alt="" />
    </a>
    <a class="underline-button kipper-logo-identifier" href="<%= rlc %>/index.html">
        <script defer>
          (() => {
            const link = document.querySelector(".kipper-version-and-logo .underline-button.kipper-logo-identifier");
            const localeName = localStorage.getItem(window.localeKey);
            const href = link.getAttribute("href");
            if (!href.includes(localeName)) {
              link.setAttribute("href", `/${localeName}${href}`);
            }
          })();
        </script>
        <h2>Kipper</h2>
    </a>
    <a id="version-identifier" href="https://github.com/Kipper-Lang/Kipper/releases/tag/v<%= latestVersion %>">
        <small>v<%= latestVersion %></small>
    </a>
</li>
