<li class="kipper-version-and-logo">
    <a href="<%= rootDir %>/index.html" class="no-style-list flex-row flex-parent-container flex-center kipper-logo-container">
        <img class="kipper-logo" src="<%= rootDir %>/img/icons/kipper-base-head.png" alt="" />
    </a>
    <a class="underline-button kipper-logo-identifier" href="<%= rootDir %>/index.html">
        <h2>Kipper</h2>
    </a>
    <a class="version-identifier" href="https://github.com/Luna-Klatzer/Kipper/releases/tag/v<%= latestVersion %>">
        <small>v<%= latestVersion %></small>
    </a>
</li>
