<nav id="phone-header-nav-bar">
    <ul id="phone-header-primary-content"  class="no-style-list">
        <!-- Kipper logo + version identifier -->
        <%- include('./logo-header', { rootDir: rootDir, latestVersion: latestVersion }) %>

        <!--
        Unlike the standard nav, the links will be not shown per default and there will be a dropdown menu.
        Additionally, the search bar is shown in the dropdown menu.
        -->
        <li class="phone-header-nav-bar-menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </li>
    </ul>

    <!-- Dropdown menu -->
    <ul id="phone-header-nav-bar-menu" class="no-style-list">
        <li>
            <ul id="phone-header-dropdown-urls" class="no-style-list">
                <!-- Main navigation links - 'pages' is a global variable added by the parent 'header-nav-bar.ejs' -->
                <% for (const page in pages) { %>
                    <%  const pageName = pages[page]; %>
                    <%  const isDocs = page === "docs/index.html"; %>
                    <%  const pagePath = `${isDocs ? rootDir : rlc}/${page}` %>
                    <li>
                        <a href="<%= pagePath %>"
                           class="underline-button top-nav-menu-item top-nav-button
                       <%= urlPath.endsWith(page) ? "selected-nav-page" : ""; %>
                       "
                        >
                            <h4><%= pageName %></h4>
                        </a>
                    </li>
                <% } %>

                <script defer>
                  (() => {
                    const links = document.querySelectorAll("#phone-header-nav-bar-menu li .top-nav-menu-item");
                    const localeName = localStorage.getItem(window.localeKey);
                    for (const link of links) {
                      // Insert locale name into the URL
                      const href = link.getAttribute("href");
                      if (!href.includes(localeName) && !href.includes("docs")) {
                        link.setAttribute("href", `/${localeName}${window.location.pathname}`);
                      }
                    }
                  })();
                </script>
            </ul>
        </li>
        <li>
            <%- include('./search-bar', { searchBarId: "phone-search-bar" }) %>
            <%- include('./locales-dropdown', { locale: locale, isDocsFile: isDocsFile }) %>
        </li>
    </ul>
</nav>
