<!-- Page EJS Config -->
<% let title = locale["values"]["pages"]["downloads"]["title"]; %>
<% let description = locale["values"]["pages"]["downloads"]["description"]; %>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/meta-head', { title: title, description: description }) %>
</head>
<body>
<%- include('./partials/default-body-top', { rootDir: rootDir }) %>

<div id="main-frame">
    <div id="actual-content">
        <!-- The top element: menu and search bar -->
        <%- include('./partials/header-nav-bar', { isHomepage: false, header: true, title: title, description: description, locale: locale })  %>

        <!-- Main Content, where the text is located and the items unique to this site are defined -->
        <div class="text-page-content-container">
            <div id="download-content" class="text-content shadowed-box">
                <section class="markdown-content">
                    <%- htmlMarkdownContent %>
                </section>
            </div>
        </div>
        <!-- Footer bar - contains some links and general copyright notice -->
        <%- include('./partials/footer') %>
    </div>
</div>

<!-- Overlay for displaying search results -->
<%- include('./partials/search-bar-overlay') %>
</body>
</html>
